html {
  height: auto;
  width: 100%;
  font-size: 12px;
}
body {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: 0.04em;
  font-family: Granjon !important;
}
@font-face {
  font-family: 'Granjon';
  src: url('../assets/font/Granjon.eot') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Granjon';
  src: url('../assets/font/Granjon.otf') format("opentype"), url('../assets/font/Granjon.woff') format("woff"), url('../assets/font/Granjon.ttf') format("truetype"), url('../assets/font/Granjon.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
.main-class {
  height: auto;
  width: 100%;
}
