#circleBarContent {
  position: absolute;
  float: right;
  right: 10%;
  max-width: 900px;
  max-height: 540px;
  z-index: 500;
}
.legend {
  float: left;
  width: 250px;
  margin-top: calc(50vh - 265px);
}
#circleBarContent h1 {
  color: #cbe4e4;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: right;
}
.skills {
  float: left;
  clear: both;
  width: 100%;
}
.skills ul,
.skills li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills li {
  float: right;
  clear: both;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 1px;
  font-size: 18px;
}
.skills .html {
  background: #AAA4A1;
}
.skills .css {
  background: #ABC8DD;
}
.skills .js {
  background: #D3DDE5;
}
.skills .webpack {
  background: #B0B7C4;
}
.skills .reactVue {
  background: #A9875D;
}
.skills .gitLinux {
  background: #B5B8BF;
}
.skills .canSvg {
  background: #B8C6D1;
}
.skills .ui {
  background: #A8A5A3;
}
#diagram {
  float: right;
  width: 600px;
  height: 500px;
  margin-top: calc(50vh - 295px);
}
.get {
  display: none;
}
